<p style="color: green"><%= notice %></p>

<h2>Username: </h2>

<p>
  <%= @user.username %>
<p>

<p>
  <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average rating #{@user.average_rating}" %>
</p>

<h3>member of </h3>

<div>
  <ul>
    <% @user.beer_clubs.each do |club| %>
    <li>
      <%= link_to club.name, beer_club_path(club.id) %> 
    </li>
    <% end %>
  </ul>
</div>

<h3>ratings</h3>

<div>
  <ul>
    <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= button_to 'Delete', rating, method: :delete, data: { turbo_confirm: "Are you sure you want to delete?"} %>
        <% end %> 
    </li>
    <% end %>  
  <ul>
</div>

<h3>favorite style</h3>

<p>
  <%= @user.favorite_style %> 
</p>

<h3>favorite brewery</h3>
<p>
  <% if @user.favorite_brewery %>
    <%= @user.favorite_brewery.name %>
  <% else %>
    No favorite brewery specified.
  <% end %>
</p>

<h3>TESTI<h3>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% else %>
    <%= link_to "Back to users", users_path %>
  <% end %>
</div>






