
<h2>Username: </h2>

<p>
  <%= @user.username %>
<p>

<p>
  <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average rating #{@user.average_rating}" %>
</p>

<h3>member of </h3>

<div>
  <ul>
    <% @user.beer_clubs.each do |club| %>
    <li>
      <%= link_to club.name, beer_club_path(club.id) %> 
    </li>
    <% end %>
  </ul>
</div>

<h3>ratings</h3>

<div>
  <ul>
    <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= button_to 'Delete', rating, method: :delete, data: { turbo_confirm: "Are you sure you want to delete?"},  class:"btn btn-danger" %>
        <% end %> 
    </li>
    <% end %>  
  <ul>
</div>

<h3>favorite style</h3>

<% if @user.favorite_style.present? %>
  <p>
    <%= @user.favorite_style.name %> 
  </p>
<% else %>
  <p>No favorite style selected.</p>
<% end %>

<h3>favorite brewery</h3>
<p>
  <% if @user.favorite_brewery %>
    <%= @user.favorite_brewery.name %>
  <% else %>
    No favorite brewery specified.
  <% end %>
</p>

<div>
  <% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
  <% end %>
</div>






