<h2>Ratings</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Best Beers</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Beer</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <% @top_beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.average_rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Best Breweries</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Brewery</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <% @top_breweries.each do |brewery| %>
          <tr>
            <td><%= brewery.name %></td>
            <td><%= brewery.average_rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div>
  <h3>Recent Ratings</h3>
  <ul>
    <%= render partial: 'rating', collection: @recent_ratings %>
  </ul>
  <% if current_user %>
    <%= link_to "New rating", new_rating_path, class: "btn btn-primary" %>
  <% end %>
</div>