<h1>Beers</h1>

<table class="table table-hover">
  <div id="beers">
    <tr>
      <th>Beer</th>
      <th>Style</th>
      <th>Brewery</th>
      <th>Rating</th>
    </tr>
    <% @beers.each do |beer| %>
    <tr>
      <th>
        <%= link_to beer.name, beer%>
      </th>
      <th>
        <%= link_to beer.style.name, beer.style%>
      </th>
      <th>
        <%= link_to beer.brewery.name, beer.brewery %>
      </th>
      <th>
        <%= round(beer.average_rating) %>
      </th>
    </tr>
    <%end%>
  </div>
</table>

<%= link_to('New Beer', new_beer_path,  class:"btn btn-primary") if current_user %>
<%= link_to "list of breweries", breweries_path, class:"btn btn-primary" %>
