<h2 class="h4"><%= @place['name'] %></h2>
<p class="mb-1"><%= @place['status'] %></p>
<p class="mb-1"><%= @place['street'] %></p>
<p class="mb-1"><%= @place['zip'] %></p>
<p class="mb-0"><%= @place['city'] %></p>
